language: php

php:
  - 5.5
  - 5.6
  - 7

env:
  - GUZZLE_VERSION="~4" INFLUXDB_DEB="influxdb_0.13.0_amd64.deb"
  - GUZZLE_VERSION="~5" INFLUXDB_DEB="influxdb_0.13.0_amd64.deb"
  - GUZZLE_VERSION="~6" INFLUXDB_DEB="influxdb_0.13.0_amd64.deb"

before_install:
  - sudo apt-get update
  - sudo apt-get install libcurl4-openssl-dev libjson0-dev
  - wget https://dl.influxdata.com/influxdb/releases/${INFLUXDB_DEB}
  - sudo useradd influxdb
  - sudo dpkg -i ${INFLUXDB_DEB}
  - sudo cp ./scripts/influxdb_conf.toml /etc/influxdb/influxdb.conf
  - travis_retry sudo service influxdb restart
  - sudo service influxdb status
  - sudo apt-get update
  - sudo apt-get install -y nginx
  - sudo cp scripts/nginx_proxy.conf /etc/nginx/conf.d/proxy.conf
  - travis_retry sudo service nginx restart

before_script:
  - composer selfupdate
  - composer install --prefer-source --no-interaction
  - composer require guzzlehttp/guzzle:${GUZZLE_VERSION} --prefer-source --no-interaction --update-with-dependencies

script:
  - vendor/bin/phpunit --coverage-clover=clover.xml

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

